<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SimpleNotes">
        <service android:name=".widgets.noteEditWidget.Service"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <receiver
            android:name=".widgets.NoteEditWidget"
            android:label="@string/edit_note_text"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/note_edit_widget_info" />
        </receiver>
        <activity
            android:name=".activity.widgets.NoteEditWidgetConfigureActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.settings.SettingsLanguageActivity"
            android:exported="false" />
        <activity
            android:name=".activity.settings.SettingsThemeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.settings.SettingsAboutActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NoteEditActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>